* {
    font-family: 'El Messiri', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: rgb(121, 37, 22);
}

h1,
h2,
ul {
    margin: 10px;
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
}

header {
    height: auto;
}

.main-nav {
    display: inline-block;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 10px;
}

.main-nav__item a {
    color: rgb(121, 37, 22);
    text-decoration: none;
    padding: 4px;
    font-weight: bold;
}

.main-nav__item a:hover {
    color: mistyrose;
}

.header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
}

.header__img {
    align-self: center;
    margin: 20px;
}

.header__info {
}

.work-exp {
}

.work-exp__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.work-exp__dates {
    margin: 20px;
}

.work-exp__work {
    margin: 20px;
}

.skills {
}

.skills__container {
}

.skills__names {
}

.skills__names p {
    height: 30px;
}

.skills__stars {
    margin-left: 10px;
}

.skills__stars div {
    height: 30px;
}
